[submodule "vendor/nodeunit"]
	path = vendor/nodeunit
	url = git://github.com/caolan/nodeunit.git
[submodule "vendor/js.class"]
	path = vendor/js.class
	url = git://github.com/jcoglan/js.class.git
[submodule "vendor/jasmine"]
	path = vendor/jasmine
	url = git://github.com/pivotal/jasmine.git
[submodule "vendor/qunit"]
	path = vendor/qunit
	url = git://github.com/jquery/qunit.git
[submodule "vendor/vows"]
	path = vendor/vows
	url = git://github.com/cloudhead/vows.git
[submodule "vendor/jasmine-node"]
	path = vendor/jasmine-node
	url = git://github.com/mhevery/jasmine-node.git
[submodule "vendor/screw-unit"]
	path = vendor/screw-unit
	url = git://github.com/nkallen/screw-unit.git
